:root {
  --color-main-bg: hsl(233, 47%, 7%);
  --color-card-bg: hsl(244, 38%, 16%);
  --color-grey: rgba(122, 120, 141, 1);
  --color-soft-violet: hsl(277, 64%, 61%);

  --color-white: hsl(0, 0%, 100%);
  --color-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --color-stat-headings: hsla(0, 0%, 100%, 0.6);
}

$color-bg: var(--color-main-bg);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: 'Inter', sans-serif; // Lexend Deca
  min-height: 100vh;

  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}
